<h1>SPŸORTS</h1>
<div class="ghostface">
	<ul>
		<% @articles.each do |article| %>
			<div class="articles">
				<li>
					<div class="headline">
						<%= article.headline.upcase %>
					</div>
					
				</li>
			</div>
			<div class="lead">
						<p>
							<%= article.lead %>..
							<form class="read" action="<%= article.url %>" >
								<input type="submit" value="READ" >
							</form>
						</p>
					</div>
		<% end %>
	</ul>
</div>