<form class="start">
<input class="start-btn" type="submit" value="START">
</form>
  <ol>
    <% @words.each do |word| %>
      <li class="circles"><h2><%=link_to(word.keyword.upcase, word_path(word)) %></h2><%= word.total_count %></li></a>
    <% end %>
  </ol>

  <script>
  
$(document).ready(function(){ 
  
  function getRandomColor() {
    var color = $('.circles');
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
  
    
    }); 

  </script>

