<!-- <form class="start">
  <input class="start-btn" type="submit" value="START">
</form> -->

<div class="bubble-container">
  <div class="blocker-left-1"></div>
  <div class="blocker-left-2"></div>
  <div class="blocker-left-3"></div>
  <div class="blocker-right-1"></div>
  <div class="blocker-right-2"></div>
  <div class="blocker-right-3"></div>

  <% @words.each do |word| %>
  <div class="bubble" data-word-id="<%= word.id %>" data-word-count="<%= word.total_count %>"><div class='bubble-text'><%= word.keyword %></div></div>
  <% end %>
</div>

<div class="ghostface">
  <div>
    <%= image_tag( 'back.png') %>
    <h2 id="keyword-articles">All Articles</h2>
  </div>
  <ul class="supreme-clientele">

  </ul>
</div>


<script>

</script>
