<!-- <form class="start">
  <input class="start-btn" type="submit" value="START">
</form> -->

<!-- <ol>
  <% @words.each do |word| %>
  <li class="circles"><h2><%=link_to(word.keyword.upcase, word_path(word)) %></h2><%= word.total_count %></li></a>
  <% end %>
</ol> -->

<div class="bubble-container">
  <div class="blocker-left-1"></div>
  <div class="blocker-left-2"></div>
  <div class="blocker-left-3"></div>
  <div class="blocker-right-1"></div>
  <div class="blocker-right-2"></div>
  <div class="blocker-right-3"></div>

  <% @words.each do |word| %>
  <div class="bubble" data-word-count="<%= word.total_count %>"><div class='bubble-text'><%= word.keyword %></div></div>
  <% end %>
</div>


<script>

var $bubbles;

function getMaxOfArray(numArray) {
  return Math.max.apply(null, numArray);
}

function getMaxWordCount() {
  var wordCounts = [];
  $bubbles.each(function(index, bubble){
    wordCounts.push($(bubble).data('word-count'));
  })
  return getMaxOfArray(wordCounts);
}

$(function(){
  console.log(":)");
  $bubbles = $('.bubble');
  var maxWordCount = getMaxWordCount();
  
  function makeCircles() {
    $bubbles.each(function(index, bubble) {
      var $bubble = $(bubble);
      var width = bubble.offsetWidth;
      var wordCount = $bubble.data('word-count');
      $bubble.css('font-size', ((wordCount/maxWordCount)*60));
      $bubble.height(width);
      $bubble.css('border-radius', width);
      $bubble.css('vertical-align', 'middle');
    });
  }

  makeCircles();
})

</script>

