<div class="ghostface" data-word-id='<%= @word.id%>'>
	<ul class="supreme-clientele">
<!-- 		<% @articles.each do |article| %>
		<li class="article">
			<div class="headline">
				<p>
					<%= article.headline %>
				</p>
			</div>
			<div class="lead">
				<p>
					<%= article.lead %>..
				</p>
				<form class="read" method="get" action="<%= article.url %>" target"_blank" >
					<input type="submit" value="READ">
				</form>
			</div>
		</li>
		<% end %> -->
	</ul>
</div>

<script>
var articleList = new ArticleList({model: Article});

$(document).ready(function(){
	console.log("Bubblezzz");
	var listView = new ArticleListView({
		collection: articleList,
		$el: $('.supreme-clientele'),
		modelView: ArticleView,
	});
	articleList.fetch();
});
</script>