<div class="ghostface" data-word-id='<%= @word.id%>'>
	<ul class="supreme-clientele">

	</ul>
</div>

<script>
var articleList = new ArticleList({model: Article});

$(document).ready(function(){
	console.log("Bubblezzz");
	var listView = new ArticleListView({
		collection: articleList,
		$el: $('.supreme-clientele'),
		modelView: ArticleView,
	});

	// $(".supreme-clientele").on('click', function(){
	//     $(this).animate({ width: "800px", height: "70px" });
	// 		}, function() {
	//     	$(this).animate({ width: "820px", height: "80px" });
	// 	});

	articleList.fetch();
});
</script>