body {
	background: {
		repeat: no-repeat;
		attachment: fixed;
		size: 100% 100%;
		image: url(https://secure.static.tumblr.com/da0d9c3f9b64db1f1b7a85afe018df7a/4y11feu/Rnin5slcj/tumblr_static_tumblr_static_e0n2ytnm8vksscoos08484osk_1280.jpg);
	}
	font-family: "calibri", serif;
}

.ghostface {
	background-image: url('/assets/footer_lodyas.png');
	margin-right: 3px;
	margin-left: 3px;
	display: block;
	float: right;
	position: absolute; top:0px; right:0px;

	h2 {
		color: white;
		display: inline-block;
	}
	
	ul {
		list-style: none;
	}
	.headline {
		border: 4px solid white;
		border-radius: 50px;
		width: 800px;
		height: 100px;
		background-color: black;
		display: inline-block;
		text-align: right;
		font-size: 25px;
		margin-bottom: 3px; 
		margin-right: 3px;
		padding: 20px;
		float: right;
		color: white;

		p {
			list-style: none;
			position: relative;
			text-decoration: none;
			color: white;
			font-size: 24px;
		}
	}
}

.lead {
	font-family: sans-serif;
	background-color: white;
	border-radius: 50px;
	border: 4px solid black;
	color: white;
	width: 800px;
	display: inline-block;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center; 
	position: relative;


	p {
		width: 750px;
		font-size: 20px;
		color: black;
		margin-left: 10px; 
	}
	

}

input {
	position: relative;
	text-align: center;
	margin-top: 60px;
	border : solid 2px #000000;
	border-radius : 11px 0px 3px 3px ;
	moz-border-radius : 11px 0px 3px 3px ;
	font-size : 20px;
	color : #000000;
	padding : 1px 10px;
	
}

.header {
	text-align: center;
	color: white;

	h1 {
		text-align: center;
		font-size: 60px;
		font-style: italic;
		margin-bottom: -20px;

		h4 {
			font-size: 5px;
			font-style: italic;
		}
	}
}


.start-btn {
	margin-top: 200px;
	vertical-align: middle;
	border : solid 15px #ffffff;
	border-radius : 5px;
	moz-border-radius : 5px;
	-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	font-size : 50px;
	color : #000000;
	padding : 20px 140px;
	background-color : #ffffff;

}

.start {
	text-align: center;
}


.bubble-container {
	text-align: center;
	margin: 0 auto;
	width: 500px;
}

.blocker-left-1{
	background-color: rgba(0, 0, 0, .3);
	float: left;
	width: 50px;
	height: 150px;
}
.blocker-left-2{
	background-color: rgba(0, 0, 0, .3);
	float: left;
	width: 50px;
	height: 100px;
}

.blocker-left-3{
	background-color: rgba(0, 0, 0, .3);
	float: left;
	width: 50px;
	height: 50px;
}

.blocker-right-1{
	background-color: rgba(0, 0, 0, .3);
	float: right;
	width: 50px;
	height: 150px;
}
.blocker-right-2{
	background-color: rgba(0, 0, 0, .3);
	float: right;
	width: 50px;
	height: 100px;
}

.blocker-right-3{
	background-color: rgba(0, 0, 0, .3);
	float: right;
	width: 50px;
	height: 50px;
}

.bubble {
	background: black;
	color: white;
	display: inline-block;
	padding: 0 10px;
	margin: 0;
}

.bubble-text {
	position: relative;
	top: 35%;
}

a {
	text-decoration: none;
	color: white;

}
