body {
	background: {
		repeat: no-repeat;
		attachment: fixed;
		size: 100% 100%;
		image: url(https://secure.static.tumblr.com/da0d9c3f9b64db1f1b7a85afe018df7a/4y11feu/Rnin5slcj/tumblr_static_tumblr_static_e0n2ytnm8vksscoos08484osk_1280.jpg);
	}
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}


.ghostface {
	background-image: url('/assets/footer_lodyas.png');
	margin-right: 0px;
	margin-left: 3px;
	width: 820px;
	display: block;
	float: right;
	margin-top: 65px;
	position: absolute; top:0px; right:0px;
	border-left: 2px solid white;
	border-bottom: 2px solid white;


	h2 {
		color: white;
		display: inline-block;
		text-transform: capitalize;
		padding-left: 50px;
		margin: 0;
	}

	.headline:hover {
		cursor: pointer;
	}
	
	ul {
		list-style: none;
	}

	.headline {
		width: 800px;
		height: 100px;
		border-radius: 50px;
		display: inline-block;
		text-align: right;
		font-size: 25px;
		margin-bottom: 3px; 
		margin-right: 3px;
		padding: 20px;
		float: right;
		color: white;
		background-color: black;
		border: 4px solid white;

		p {
			padding: 0;
			margin: 0;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			color: white;
			font-size: 24px;
		}
	}
}


.lead {
	font-family: sans-serif;
	background-color: white;
	border-radius: 50px;
	border: 4px solid black;
	color: white;
	width: 800px;
	display: inline-block;
	padding-bottom: 10px;
	margin-top: 1px;
	margin-bottom: 4px;
	float: right;
	text-align: right; 
	position: relative;


	p {
		width: 750px;
		font-size: 20px;
		color: black;
		margin-left: 10px; 
	}
	

}

.ghostface {
	padding-bottom: 20px;
}

.read {
	position: relative;
	text-align: center;
	margin-bottom: 2px;
	border: solid 2px #000000;
	border-radius : 11px 0px 3px 3px;
	moz-border-radius : 11px 0px 3px 3px;
	font-size: 20px;
	color: #000000;
	padding: 1px;
	
}



.header {
	margin: 0;
	position: fixed;
	padding-top: 20px;
	text-align: center;
	color: white;
	height: 65px;
	width: 100%;
	border-bottom: 2px solid white;
	z-index: 1;
	background-image: url('/assets/header_grid.jpg');
	background-size: 50% 100%;


	h1 {
		margin: -15px;
		padding: 0;
		letter-spacing: -4px;
		text-align: center;
		font-size: 60px;
		line-height: 60px;
		vertical-align: middle;
		font-style: italic;

	}
	h4 {
		margin: -10px;
		font-size: 5px;
		font-style: italic;
	}
}


.start-btn {
	margin-top: 200px;
	vertical-align: middle;
	border : solid 15px #ffffff;
	border-radius : 5px;
	moz-border-radius : 5px;
	-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	font-size : 50px;
	color : #000000;
	padding : 20px 140px;
	background-color : #ffffff;

}

.start {
	text-align: center;
}


.bubble-container {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	padding-top: 100px;
	width: 600px;
}


.blocker-left-1{
	background-color: rgba(0, 0, 0, .0);
	float: left;
	width: 50px;
	height: 150px;
}
.blocker-left-2{
	background-color: rgba(0, 0, 0, .0);
	float: left;
	width: 50px;
	height: 100px;
}

.blocker-left-3{
	background-color: rgba(0, 0, 0, .0);
	float: left;
	width: 50px;
	height: 50px;
}

.blocker-right-1{
	background-color: rgba(0, 0, 0, .0);
	float: right;
	width: 50px;
	height: 150px;
}
.blocker-right-2{
	background-color: rgba(0, 0, 0, .0);
	float: right;
	width: 50px;
	height: 100px;
}

.blocker-right-3{
	background-color: rgba(0, 0, 0, .0);
	float: right;
	width: 50px;
	height: 50px;
}

.bubble {
	background: black;
	color: white;
	border: 2px solid white;
	display: inline-block;
	padding: 0 10px;
	margin: 0;
}

.bubble:hover {
	cursor: pointer;
}

.bubble-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

a {
	text-decoration: none;
	color: white;
}

h2 {
	text-alignment: left;
	font-size: 70px;
	margin-bottom: -100px;

}

img {
/*	border-bottom: 2px solid white;
border-right: 2px solid white;*/
height: 100px;
width: 100px;
}

img:hover {
	cursor: pointer;
}
