<!DOCTYPE html>
<html>
<head>
  <title>SpŸorts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script id="article-template" type="text/template">
    <li class="article">
      <div class="headline">
        <p>
          <%%= article.headline %>
        </p>
      </div>
      <div class="lead">
        <p>
        <a href="<%%= article.url %>" class="read" target="_blank">READ</a>
          <%%= article.lead %>..
        </p>
      </div>
    </li>
  </script>
</head>
<body>
	<div class="header">
		<h1>SPŸORTS</h1><h4>"WE GIVE YOU THE NEWS, NOT THE WEATHER"</h4>
	</div>
<%= yield %>

</body>
</html>
