<!DOCTYPE html>
<html>
<head>
  <title>SpŸorts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<h1>SPŸORTS</h1><h4>"WE GIVE YOU THE NEWS, NOT THE WEATHER"</h4>

</div>
<%= yield %>

</body>
</html>
